@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --background-color-primary:  #09090b;
    --backgronud-color-secundary: #040405;

    --border-color-blue: #00a3ff;
    --border-color-red-light: #e51d37
    --border-color-green: rgb(149 239 134);
    --border-color-red: #ff3a5e;
    --border-color-black:#101013;

    --font-text-white: #fff;
    --font-text-gray-light:#d8d8d8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

html, body {
    font-size: 62.5%;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

header {
    background-color: var(--backgronud-color-secundary);
    color: var(--font-text-one);
    border-bottom: 1px solid var(--background-color-primary);
    width: 100%;
    padding: 0 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}

nav h1 {
    font-size: 2.4rem;
    color: var(--font-text-white);
    text-transform: uppercase;
}

nav span {
    color: var(--border-color-blue);
    text-transform: lowercase;
}

li {
    font-size: 1.8rem;
    color: var(--font-text-gray-light);
    font-weight: 400;
}

.grid-layout {
    max-width: 1140px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
}

.nav-list li {
    list-style-type: none;
    margin-left: 48px;
}

#s-home{
    background-color: var(--backgronud-color-secundary);
    padding: 0 50px;
    position: relative;
}

#home {
    padding: 200px 0;
    display: flex;
}

#home-cotainer-text {
    width: 100%;
}

.title-text {
    font-size: 4rem;
    color: var(--font-text-white);
    line-height: 140%;
    max-width: 650px;
    
}

.title-text span {
    color: var(--border-color-blue);
}

.description-text {
    font-size: 2rem;
    color: var(--font-text-gray-light);
    line-height: 160%;
    max-width: 600px;
    margin: 40px 0;
    font-weight: 300;

}

.lambda-logo {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 295px;
    top: 50%;
    transform: translate(0%, -50%);
    filter: invert(46%) sepia(55%) saturate(2180%) hue-rotate(174deg) brightness(98%) contrast(108%);
}

.four-logo {
    color: var(--border-color-blue);
    font-size: 55rem;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translate(0%, -50%);
    background: linear-gradient(332deg, var(--background-color-primary) 0%, var(--border-color-blue) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.btn-resumo {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--border-color-blue);
    cursor: pointer;
    border: 1px solid var(--border-color-blue);
    padding: 1.6rem 3.2rem;
    border-radius: 1rem;
}
.btn-resumo a {
    color: var(--font-text-white);
    
    
}


#s-about {
    background-color: var(--backgronud-color-secundary);
    padding: 200px 0;
}

.container-about {
    background-color: var(--background-color-primary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid var(--border-color-black);
    padding: 24px;
    border-radius: 5px;
}

.content-img {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.img-profile {
    width: 400px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 5px;
}

.content-about {
    padding: 0 12px;
}



.content-about h4 {
    font-size: 20px;
    color: var(--border-color-blue);
}

.content-about h2 {
    font-size: 40px;
    color: var(--font-text-white);
    margin: 16px 0;
}

.content-about h3 {
    font-size: 18px;
    color: var(--font-text-gray-light);
    font-weight: 300;
    margin-bottom: 16px;
}

.content-about p {
    color: var(--font-text-gray-light);
    margin-bottom: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    font-size: 1.6rem;
    max-width: 500px;
}

#s-skills {
    padding: 96px 48px;
    background-color: var(--background-color-primary);


}

#skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
    padding: 8px;
}

#skills-text {
    min-height: 400px;
    width: 50%;
    
}

.my-stack {
    font-size: 2rem;
    color: var(--border-color-blue);
    margin: 1.6rem 0;
}

#skills-text h2 {
    color: var(--font-text-white);
    font-size: 3.6rem;
    margin-bottom: 3.2rem
}

.skills-info  {
    font-size: 1.8rem;
    color: var(--font-text-gray-light);
}

#skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}

#skills-cards > article {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    background-color: var(--backgronud-color-secundary);
    border: 1px solid var(--border-color-black);
    border-radius: 4px;
    width: 20%;
    flex-grow: 1;
    
}

article img {
    width: 60px;
    height: 60px;
    filter: invert(46%) sepia(55%) saturate(2180%) hue-rotate(174deg) brightness(98%) contrast(108%);
}




#s-projects {
    padding: 96px 48px;
    background-color: var(--backgronud-color-secundary);
    text-align: center;
}

#s-projects p {
    font-size: 2rem;
    color: var(--border-color-blue);
    margin: 1.6rem 0;
}

#s-projects h2 {
    font-size: 4rem;
    color: var(--font-text-white);
}

#projects {
    margin: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}

#projects > article {
    max-height: 226px;
    max-width: 364px;
    background-color: var(--background-color-primary);
    padding: 32px;
    margin: 8px;
    width: 100%;
}

#projects > article h3 {
    font-size: 2.4rem;
    color: var(--font-text-white);
    font-weight: 500;
}

#projects > article p {
    font-size: 1.6rem;
    color: var(--font-text-gray-light);
    margin: 2.4rem 0;
    line-height: 3.2rem;

}

#projects > article a {
    font-size: 2rem;
    font-weight: 400;  
}

.project-1 {
    border: 1px solid var(--border-color-red);
}

.project-1  a {
    color: var(--border-color-red);
}

.project-2 {
    border: 1px solid var(--border-color-blue);
}

.project-2 a {
    color: var(--border-color-blue);
}

.project-3 {
    border: 1px solid rgb(149 239 134);
}

.project-3 a {
    color: rgb(149 239 134);
}

.project-4 {
    border: 1px solid var(--border-color-red);
}

.project-4  a {
    color: var(--border-color-red);
}

.project-5 {
    border: 1px solid var(--border-color-blue);
}

.project-5 a {
    color: var(--border-color-blue);
}

.project-6 {
    border: 1px solid rgb(149 239 134);
}

.project-6 a {
    color: rgb(149 239 134);
}

.link-repository {
    font-size: 2rem;
    font-weight: 400;
    color: var(--border-color-blue);
}



#s-contact {
    background-color: var(--background-color-primary);
    padding: 96px 48px;
}

#contact {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#contact h2 {
    font-size: 3.6rem;
    color: var(--font-text-white);
    margin: 16px 0;
}

#contact p {
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--font-text-gray-light);
    max-width: 766px;
}

.btn-contact  {
    padding: 1.6rem 2.4rem;
    margin-top: 2rem;
    border: 1px solid var(--border-color-blue);
    border-radius: 5px;
}

.btn-contact a {
    color: var(--border-color-blue);
    font-size: 1.6rem;
}

.social-media  {
    width: 40px;
    position: fixed;
    bottom: 0px;
    left: 40px;
    right: auto;
    z-index: 10;
    color: var(--font-text-gray-light);
    
}

.social-media a {
    color: var(--font-text-gray-light);
    opacity: 0.5;
    padding: 10px;
}

.social-media ul {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
    
}

.social-media li  {
    display: flex;
    justify-content: center;
    align-items: center;

}


.social-media img {
    width: 25px;
    height: 25px;
    filter: invert(46%) sepia(55%) saturate(2180%) hue-rotate(174deg) brightness(98%) contrast(108%);
    
}

.social-media > ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 20px auto 0;
    opacity: 0.5;
    background-color: var(--border-color-blue)
}

footer {
    width: 100%;
    height: auto;
    background-color: var(--backgronud-color-secundary);
    color: var(--font-text-white);
    padding: 24px 0;
}

footer .grid-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

footer p {
    font-size: 1.8rem;
}

footer div {
    display: flex;
    align-items: center;
    gap: 16px;
}

footer img {
    width: 32px;
    height: auto;
    display: block;
}